<% include partials/header %>


<div class="container">
    <header class="jumbotron">Here is the landing page</header>
    <p>Welcome to the YelpCamp landing page</p>
    <a href="/campgrounds">View all campgrounds</a>
</div>

<% include partials/footer %>